* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #444;
  padding: 30px;
  z-index: 1000;
  min-width: 1000px;
  max-width: 100vh;
  max-height: 100vh;
  text-align: center;
  border-radius: 10px;
  
  animation: open;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition-timing-function: ease-out;
}

@keyframes open {
  from {
    top: 0%;
  }

  to {
    top: 50%;
  }
}

.white {
  color: white;
  cursor: default;
}

.author_name {
  color: rgb(106, 166, 201);
}

.author_name:hover {
  color: #fff;
}

.author_name:active {
  color: rgb(106, 166, 201);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: flex-end;
}

.content {
  display: flex;
  max-height: 500px;
  gap: 15px;
}

.left {
  width: 40%;
}

.right {
  width: 60%;
  text-align: right;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: space-around;
  margin: 0 0 30px 0;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 70%;
  padding: 0 10px 0 0;
  overflow: auto;
}

.close {
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bolder;
  font-size: 1.5em;
  background-color: #444;
  width: 25px;
  height: 25px;
  margin: 0 0 10px 0;
}

.img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.commentbox {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
}

.commentSubmit {
  border: none;
  border-radius: 10px;
  background-color: rgb(8, 138, 251);
  color: white;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
}

.commentSubmit:hover {
  background-color: rgb(100, 178, 247);
}

.commentSubmit:active {
  background-color: rgb(8, 138, 251);
}

textarea {
  width: 65%;
  padding: 5px;
  resize: none;
}

.like {
  background: none;
  border: none;
  cursor: pointer;
}

.thumbsup {
  width: 24px;
  height: 24px;
}
